@import url('https://fonts.cdnfonts.com/css/inter');
@import 'tailwindcss';
@import './theme.css';

#app {
  font-weight: normal;
  font-family: 'Gilroy', sans-serif;
  background: var(--neutral-0);
  color: var(--neutral-100);
}

body {
  background: var(--neutral-0);
  color: var(--neutral-100);
}

ul {
  z-index: 800;
}

nav {
  z-index: 9999;
}

.blob,
.blob1,
.blob2 {
  z-index: 0;
}

nav a,
nav ul {
  z-index: 9999;
}

a:hover,
button:hover {
  transition: all 0.3s ease-in-out;
}
